h1 {color: #A30FB5; font-family: Verdana; text-align: center;}
h2 {color: #05650A; font-family: Georgia; text-align: center;}
h3 {color: #ED5209; font-family: Arial; text-align: left; padding-left: 50px;}
a {color: blue; font-family: Arial; text-align: left; padding-left: 50px;}